@model ESCC.Umbraco.UserAccessManager.Models.UmbracoUserModel
@{
    ViewBag.Title = "Create New User";
}

<h2>Create new user</h2>

<p class="highlight">@TempData["Message"]</p>

<div class="row">
        @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.Label("userName", "Logon ID", new {@class="col-sm-2 control-label"})
                <div class="col-sm-10 col-md-6">
                    @Html.TextBox("userName", "", new { @class = "form-control", @id = "userName", @placeholder = "Logon ID" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("fullName", "Full Name", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 col-md-6">
                    @Html.TextBox("fullName", "", new { @class = "form-control", @id = "fullName", @placeholder = "Full Name" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("emailAddress", "Email Address", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 col-md-6">
                    @Html.TextBox("emailAddress", "", new { @class = "form-control", @id = "emailAddress", @placeholder = "Email Address" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </div>
        }
</div>