@using System.Configuration
@using System.Web.Mvc.Html
@model FindUserModel
@using Escc.Umbraco.UserAccessManager.Models
@using Escc.Umbraco.UserAccessManager.Utility;
@using System.Linq;
@{
    ViewBag.Title = "User Details";
    var overrideUsers = !string.IsNullOrEmpty(ConfigurationManager.AppSettings["UsersOverride"]) ? ConfigurationManager.AppSettings["UsersOverride"] : "";
    var hasHigherPrivileges = User.IsInRole(ConfigurationManager.AppSettings[SystemRole.WebServices])
                || overrideUsers.Split(',').Any(x => x.ToLower() == User.Identity.Name.Replace("ESCC\\", "").ToLower());
}

<h2>User Details</h2>
<p class="highlight">@ErrorMessageModel.ErrorMsg(TempData["MsgKey"])</p>

@if (Model.SearchResult.Any())
{
    foreach (var user in Model.SearchResult)
    {
        <p><strong>Full name:</strong> @user.FullName</p>
        <p><strong>Logon ID:</strong> @user.UserName</p>
        <p><strong>Email Address:</strong> @user.EmailAddress</p>

        if (!user.IsWebAuthor)
        {
            <p class="highlight">This user is not a Web Author</p>
            continue;
        }

        <div class="btn-group-x">
            @if (hasHigherPrivileges)
            {
                @Html.ActionLink("User Permissions", "Index", "Permissions", new {id = @user.UserId}, new {@class = "btn btn-primary", @role = "button"})
            }

            @Html.ActionLink("Reset Password", "InitiatePasswordReset", new {@user.UserId, @user.EmailAddress}, new {@class = "btn btn-warning", @role = "button"})

            @{ 
                var activeClass = user.UserLocked ? "active" : "";
                var statusText = user.UserLocked ? "Unlock" : "Lock";
            }

            @Html.ActionLink(statusText + " Account", "DisableUser", new {user.UserId, user.EmailAddress, user.UserLocked }, new { @class = "btn btn-danger " + activeClass, @role = "button" })
        </div>
    }
}
else
{
    if (Model.IsEmailRequest)
    {
        <p>No user has been found with the email address <strong>@Model.EmailAddress</strong></p>
    }
    else
    {
        <p>No user has been found with the username <strong>@Model.UserName</strong></p>
    }

    if (hasHigherPrivileges)
    {
        @Html.ActionLink("Create new user", "InitiateUserCreation", null, new { @class = "btn btn-primary", @role = "button" })
    }
}

@*<div>
    Page @(Model.SearchResult.PageCount < Model.SearchResult.PageNumber ? 0 : Model.SearchResult.PageNumber) of @Model.SearchResult.PageCount

    @Html.PagedListPager(Model.SearchResult, page => Url.Action("DisplayResults", new { page, Model.EmailAddress, Model.UserName }))
</div>*@
