@model UmbracoUserControl.Models.PasswordResetModel
    
@{
    ViewBag.Title = "Password Reset Verification";
}

    <h2>Password Reset Verification</h2>
    
    <p>@TempData["Message"]</p>

    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-md-2 control-label" for="NewPassword">New Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Password" value="@Model.NewPassword" />
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="NewPasswordConfim">Confim New Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="NewPasswordConfim" name="NewPasswordConfim" placeholder="Confim Password" value="@Model.NewPasswordConfim" />
                        @Html.ValidationMessageFor(m => m.NewPasswordConfim)
                    </div>
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="UniqueResetId" name="UniqueResetId" value="@Model.UniqueResetId" />
                    <input type="text" class="form-control" id="UserId" name="UserId" value="@Model.UserId" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <p class="Error">@TempData["ResetError"]</p>
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </div>
                </div>
            }
        </div>
    </div>