@model UmbracoUserControl.Models.PasswordResetModel
    
@{
    ViewBag.Title = "Password Reset Verification";
}

    <h2>Password Reset Verification</h2>
    
    <p class="highlight">@TempData["Message"]</p>

    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.Label("NewPassword", "New Password", new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        @Html.Password("NewPassword", "", new { @class = "form-control", @id = "NewPassword", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("NewPasswordConfim", "Confirm New Password", new { @class = "col-md-3 control-label" })
                    <div class="col-md-4">
                        @Html.Password("NewPasswordConfim", "", new { @class = "form-control", @id = "NewPasswordConfim", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.NewPasswordConfim)
                    </div>
                </div>
                <div class="hidden">
                    <input type="text" class="form-control" id="UniqueResetId" name="UniqueResetId" value="@Model.UniqueResetId" />
                    <input type="text" class="form-control" id="UserId" name="UserId" value="@Model.UserId" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-4">
                        <p class="Error">@TempData["ResetError"]</p>
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </div>
                </div>
            }
        </div>
    </div>