@model FindUserModel
@using NUnit.Framework.Constraints
@using PagedList.Mvc;
@using UmbracoUserControl.Models
@{
    ViewBag.Title = "Users By Email";
}

<h2>User Lookup</h2>
<p class="highlight">@TempData["Message"]</p>

@if (Model.SearchResult.Any())
{
    foreach (var user in Model.SearchResult)
    {
        <p><strong>Full name:</strong> @user.FullName</p>
        <p><strong>Logon ID:</strong> @user.UserName</p>
        <p><strong>Email Address:</strong> @user.EmailAddress</p>
        <div class="btn-group-x">
            @Html.ActionLink("User Permissions", "Index", "Permissions", new { id = @user.UserId }, new { @class = "btn btn-primary", @role = "button" })

            @Html.ActionLink("Reset Password", "InitiatePasswordReset", new { UserId = @user.UserId, EmailAddress = @user.EmailAddress }, new { @class = "btn btn-warning", @role = "button" })

            @(@user.Lock != false ? Html.ActionLink("Lock Account", "DisableUser", new { UserId = @user.UserId, EmailAddress = @user.EmailAddress, Lock = @user.Lock }, new { @class = "btn btn-danger", @role = "button" }) : Html.ActionLink("Unlock Account", "DisableUser", new { UserId = @user.UserId, EmailAddress = @user.EmailAddress, Lock = @user.Lock }, new { @class = "btn btn-danger active", @role = "button" }))
        </div>
    }
}
else
{
    if (Model.IsEmailRequest)
    {
        <p>No user has been found with that email address</p>
    }
    else
    {
        <p>No user has been found with that username</p>
    }
    @Html.ActionLink("Create new user", "InitiateUserCreation", null, new { @class = "btn btn-primary", @role = "button" })
}

<div>
    Page @(Model.SearchResult.PageCount < Model.SearchResult.PageNumber ? 0 : Model.SearchResult.PageNumber) of @Model.SearchResult.PageCount

    @Html.PagedListPager(Model.SearchResult, page => Url.Action("DisplayResults", new { page, Model.EmailAddress, Model.UserName }))
</div>