@model FindUserModel
@using System.Activities.Expressions
@using System.ComponentModel.DataAnnotations
@using PagedList.Mvc;
@using UmbracoUserControl.Models
@{
    ViewBag.Title = "UsersByEmail";
}

<h2>User Lookup</h2>

@if (Model.SearchResult.Any())
{
    foreach (var user in Model.SearchResult)
    {
        <p>@user.FullName</p>
        <p>@user.UserName</p>
        <p>@user.EmailAddress</p>
        <div class="btn-group">
            @Html.ActionLink("Reset Password", "InitiatePasswordReset", new { UserId = @user.UserId, EmailAddress = @user.EmailAddress }, new { @class = "btn btn-success", @role = "button" })

            @{
        if (@user.Lock != false)
        {
            @Html.ActionLink("Lock Account", "DisableUser", new { UserId = @user.UserId, Lock = @user.Lock }, new { @class = "btn btn-danger", @role = "button" })
        }
        else
        {
            @Html.ActionLink("Unlock Account", "DisableUser", new { UserId = @user.UserId, Lock = @user.Lock }, new { @class = "btn btn-warning", @role = "button" })
        }

        @Html.ActionLink("User Permissions", "Index", "Permissions", new { id = @user.UserId }, new { @class = "btn btn-info", @role = "button" })
            }
        </div>
    }
}
else
{
    <p>No user has been found with that email address</p>
    @Html.ActionLink("Create new user", "InitiateUserCreation", null, new { @class = "btn btn-info", @role = "button" })
}

<div>
    Page @(Model.SearchResult.PageCount < Model.SearchResult.PageNumber ? 0 : Model.SearchResult.PageNumber) of @Model.SearchResult.PageCount

    @Html.PagedListPager(Model.SearchResult, page => Url.Action("DisplayResults", new { page, Model.EmailAddress, Model.UserName }))
</div>