@using System.Web.Mvc.Html
@using PagedList.Mvc
@using UmbracoUserControl.Utility
@model UmbracoUserControl.Models.FindUserModel
@{
    ViewBag.Title = "Users By Email";
}

<h2>User Details</h2>
<p class="highlight">@TempData["Message"]</p>

@if (Model.SearchResult.Any())
{
    foreach (var user in Model.SearchResult)
    {
        <p><strong>Full name:</strong> @user.FullName</p>
        <p><strong>Logon ID:</strong> @user.UserName</p>
        <p><strong>Email Address:</strong> @user.EmailAddress</p>
        <div class="btn-group-x">
            @if (User.IsInRole(SystemRole.WebServices))
            {
                @Html.ActionLink("User Permissions", "Index", "Permissions", new {id = @user.UserId}, new {@class = "btn btn-primary", @role = "button"})
            }

            @Html.ActionLink("Reset Password", "InitiatePasswordReset", new {@user.UserId, @user.EmailAddress}, new {@class = "btn btn-warning", @role = "button"})

            @if (User.IsInRole(SystemRole.WebServices))
            {
                @(@user.Lock ? Html.ActionLink("Lock Account", "DisableUser", new {@user.UserId, @user.EmailAddress, @user.Lock }, new { @class = "btn btn-danger", @role = "button" }) : Html.ActionLink("Unlock Account", "DisableUser", new {@user.UserId, @user.EmailAddress, @user.Lock }, new { @class = "btn btn-danger active", @role = "button" }))
            }
        </div>
    }
}
else
{
    if (Model.IsEmailRequest)
    {
        <p>No user has been found with that email address</p>
    }
    else
    {
        <p>No user has been found with that username</p>
    }

    if (User.IsInRole(SystemRole.WebServices))
    {
        @Html.ActionLink("Create new user", "InitiateUserCreation", null, new { @class = "btn btn-primary", @role = "button" })
    }
}

@*<div>
    Page @(Model.SearchResult.PageCount < Model.SearchResult.PageNumber ? 0 : Model.SearchResult.PageNumber) of @Model.SearchResult.PageCount

    @Html.PagedListPager(Model.SearchResult, page => Url.Action("DisplayResults", new { page, Model.EmailAddress, Model.UserName }))
</div>*@
