@model IList<UmbracoUserControl.Models.UmbracoUserModel>
@{
    ViewBag.Title = "UsersByEmail";
}

<h2>UsersByEmail</h2>

@if (Model.Count() > 0)
{
    foreach( var user in Model)
    {
        <p>@user.FullName</p>
        <p>@user.UserName</p>
        <p>@user.EmailAddress</p>
        
        @Html.ActionLink("Reset Password", "InitiatePasswordReset", new { UserId = @user.UserId, EmailAddress = @user.EmailAddress }, new { @class = "btn btn-success", @role = "button" })
    
        if (@user.Lock != true)
        { 
            @Html.ActionLink("Lock Account", "DisableUser", new { UserId = @user.UserId, Lock = @user.Lock }, new { @class = "btn btn-danger", @role = "button" })
        }
        else
        { 
            @Html.ActionLink("Unlock Account", "DisableUser", new { UserId = @user.UserId, Lock = @user.Lock }, new { @class = "btn btn-warning", @role = "button" })
        }
    }
}
else
{
    <p>No user has been found with that email address</p>
    @Html.ActionLink("Create new user", "InitiateUserCreation", null, new { @class = "btn btn-info", @role = "button" })
}