@using System.Configuration
@model  Escc.Umbraco.UserAccessManager.Models.PageLinksModel
@{
    var unpublishedStates = new List<string> {"[Parent unpublished]", "[Currently unpublished]", "[Not yet published]"};

    var siteUri = ConfigurationManager.AppSettings["SiteUri"];
    var editurl = string.Format("{0}#/content/content/edit/", siteUri);
    var viewurl = siteUri.Replace("/umbraco/", "");

    var redirectEditUri = ConfigurationManager.AppSettings["RedirectEdit"];
}
<h4>Inbound links to: @Model.PageName (Id @Model.PageId)</h4>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">Local Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.InboundLinksLocal)
        {
            <tr>
                <td class="col-md-3">
                    @item.PageName
                    <br />
                    [Fields: @string.Join(", ", item.FieldNames)]
                </td>
                <td class="col-md-1">
                    <a class="ui-button" href="@editurl@item.PageId" target="_blank">edit page</a>
                </td>
                <td class="col-md-2">
                    @if (!unpublishedStates.Contains(item.PageUrl))
                    {
                        <a class="ui-button" href="@viewurl@item.PageUrl" target="_blank">view page</a>
                    }
                    else
                    {
                        @item.PageUrl
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="4">Redirected Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.InboundLinksRedirect)
        {
            <tr>
                <td class="col-md-4">
                    @item.Pattern
                </td>
                <td class="col-md-1">
                    <a class="ui-button" href="@redirectEditUri@item.RedirectId" target="_blank">edit</a>
                </td>
                <td class="col-md-2">
                    @(item.Type == 1 ? Html.Raw("Short Url") : Html.Raw("Moved Page"))
                </td>
                <td class="col-md-5">
                    @item.Comment
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="3">External Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.InboundLinksExternal)
        {
            <tr>
                <td class="col-md-3">
                    @item.Referrer
                </td>
                <td class="col-md-1">
                    @item.Type
                </td>
                <td class="col-md-2">
                    <a class="ui-button" href="@item.Referrer" target="_blank">view page</a>
                </td>
            </tr>
        }
    </tbody>
</table>
