@using System.Configuration
@model  ESCC.Umbraco.UserAccessManager.Models.PageUsersModel

@if (Model.Users.Any())
{
    <h4>Web Authors responsible for the page: @Model.Page.PageName</h4>

    <table class="table table-striped">
    @foreach (var item in @Model.Users)
    {
        <tr>
            <td class="col-md-3">
                @item.FullName
            </td>
            <td class="col-md-3">
                <a href="@String.Format(ConfigurationManager.AppSettings["StaffLookupUrl"], item.FullName)" target="_blank">View staff page</a>
            </td>
            <td class="col-md-6">
                <a href="mailto:@item.EmailAddress">@item.EmailAddress</a>
            </td>
        </tr>
    }
    </table>
}
else
{
    <h4>Web Authors</h4>
    <p>There are no web authors responsible for this page, please contact a Web Editor instead.</p>
}

@{
    Html.RenderAction("Index", "WebEditors");   
}
