@using System.Configuration
@model  ESCC.Umbraco.UserAccessManager.Models.PageUsersModel

<h4>People responsible for @Model.First().PageName - @Model.First().PageId</h4>

<table class="table table-striped table-bordered">
    @foreach (var item in @Model)
    {
    <tr>
        <td class="col-md-3">
            @item.FullName
        </td>
        <td class="col-md-4">
            <a href="mailto:@item.EmailAddress">@item.EmailAddress</a>
        </td>
        <td class="col-md-1">
            <a href="#" class="lookupauthorpages" data-id="@item.Username" onclick="return lookupauthorpages(this);">all pages</a>
        </td>
        <td class="col-md-2">
            <a href="@String.Format(ConfigurationManager.AppSettings["StaffLookupUrl"], item.FullName)" target="_blank">view staff page</a>
        </td>
        <td class="col-md-2">
            @if (item.UserLocked)
            {
                @Html.Raw(" <span class=\"highlight\">User Disabled</span>")
            }
            else
            {
                @Html.Raw("&nbsp;");
            }
        </td>
    </tr>
    }
</table>
