@using System.Configuration
@model  IEnumerable<ESCC.Umbraco.UserAccessManager.Models.PermissionsModel>

    <h4>People responsible for @Model.First().PageName - @Model.First().PageId</h4>

    <ul class="list-group-x">
        @foreach (var item in @Model)
        {
            <li class="list-group-item-x">
                <p>
                    <a href="@String.Format(ConfigurationManager.AppSettings["StaffLookupUrl"], item.FullName)">@item.FullName</a>
                    -
                    @item.EmailAddress
                </p>
            </li>
        }
    </ul>
